.navbar-link {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 20px;
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}