.header a {
    text-decoration: none;
    color: #f9faf8;
}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    font-size: 15px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    background: #1F2937;
    color: #f9faf8;
}

.container-header {
    border: 3px solid red;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    
}

.left-content {
    border: 5px solid green;
    display: flex;
    align-items:center;
    
}

.right-content {
    border: 5px solid violet;
    padding: 5px;
    display: flex;
    
}